---
import BaseLayout from "../layouts/BaseLayout.astro";
import NavBar from "../components/NavBar.astro";
import Hero from "../components/Hero.astro";
import AboutSection from "../components/AboutSection.astro";
import BenefitsSection from "../components/BenefitsSection.astro";
import EligibilitySection from "../components/EligibilitySection.astro";
import HowItWorksSection from "../components/HowItWorksSection.astro";
import PartnersSection from "../components/PartnersSection.astro";
import FaqSection from "../components/FaqSection.astro";
---

<BaseLayout title="HTSI Kenya Open Call">
  <NavBar />
  <main class="pb-24 overflow-x-hidden">
    <Hero />
    <AboutSection />
    <PartnersSection />
    <BenefitsSection />
    <EligibilitySection />
    <HowItWorksSection />
    <FaqSection />
  </main>
</BaseLayout>
